/* General */
body {
	background-image: url("../images/background.png.png");
}
p {
	font-size: 19px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	line-height: 30px;
}
h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 1.8em;
	font-weight: bold;
	color: white;
	vertical-align: center;
}
h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-size: 2em;
	font-weight: bold;
}
nav a:hover {
	background-color: #4aaaa5;
	border-radius: 5px;
	color: white;
}
.content-wrapper {
	clear: both;
	border: 1px solid #dddddd;
	width: 60%;
	margin: 50px 35px 50px 100px;
	padding: 35px;
	background-color: #ffffff;
	width: 650px;
	float: left;
}
.contentrule {
	border-color: #e0e0e0;
}
/* Header, Footer, and Nav Bar */
#head {
	height: 90px;
	width: 100%;
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	overflow: auto;
}
.headername {
	height: 38px;
	padding: 26px;
	text-align: bottom;
	margin-left: 100px;
	float: left;
	background-color: #4aaaa5;
}
.myname {
	position-top: 15px;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
.navbar {
	height: 90px;
	width: 270px;
	line-height: 90px;
	margin-right: 150px;
	float: right;
	background-color: white;
    text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #d1d1d1;
	font-size: 27px;
	text-decoration: none;
	width: auto;
}
footer {
	position: relative;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
	clear: both;
	background-color: #666666;
    height: 100px;
    width: 100%;
    border-top: 10px solid #4baaa5;
    line-height: 100px;
}
a {
	text-decoration: none;
	color: #d1d1d1;
}

/*a:hover { 
    background-color: yellow;
}*/

/* Connect Box */
.connectheader {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}
#connect {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	width: 270px;
	height: auto;
	margin: 50px 20px;
	float: left;
	padding: 30px 30px;
}
.icon {
	width: 20%;
	margin: 2.5%;
}
/* Main Page */
#profile {
	float: left;
	padding: 0px 20px 10px 0px;
}
/* Portfolio Page */
.port-frame {
	float: left;
	margin: 15px;
	height: 205px;
	width: 275px;
}
.port-text {
	position: relative;
	bottom: 45%;
	float: left;
	text-align: center;
	line-height: 60px;
	height: 60px;
	background-color: #4aaaa5;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 16px;
	width: 275px;
}
/* Contact Page */
#contactform {
	font-size: 18px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}
input[type=text] {
	width: 90%;
	height: 35px;
	border: 2px solid #d1d1d1;
	color: #d1d1d1;
	padding: 0px 35px;
}
input[type=submit] {
	width: 150px;
	height: 25px;
	border-radius: 5px;
    border: 0;
 	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: #4aaaa5;
    color: white;
}
textarea {
	width: 100%;
	height: auto;
}
::-webkit-input-placeholder {
  color: #d1d1d1;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
::-moz-placeholder {
  color: #d1d1d1;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
:-ms-input-placeholder {
  color: #d1d1d1;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
:-moz-placeholder {
  color: #d1d1d1;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}